<div class="modifiable container">
    <table>
        <thead><th>Stat</th><th>Current</th><th>Normal</th></thead>
        <tr>
            <td>Height</td>
            <td><input [value]="character.about.getHeight(timer.time)" (input)="character.about.setHeight(timer.time,$event.target.value)" [disabled]="timer.time!=now"/></td>
            <td>{{character.about.height}}</td>
        </tr>
        <tr>
            <td>Qi</td>
            <td><input type="number" [value]="character.qi(timer.time)" (input)="character.setQi(timer.time,$event.target.value)" [disabled]="timer.time!=now"/></td>
            <td>{{character.maxQi(timer.time)}}</td>
        </tr>
        <tr *ngFor="let aspect of character.aspects.aspectsList">
            <td>{{aspect|titlecase}}</td>
            <td><input type="number" [value]="character.aspects.current(timer.time,aspect)" (input)="character.aspects.tempChange(timer.time,aspect,$event.target.value)" [disabled]="timer.time!=now"/></td>
            <td>{{character.aspects.getAspectRank(aspect)}}</td>
        </tr>
    </table>
  
</div>
<div class="fatigue container">
    <div>
        Top Speed: {{character.maxSpeed(timer.time,['leftLeg','rightLeg'],0)}}
    </div>
    <div>
        Aerobic Penalty {{character.fatigue.penalty('aerobic',timer.time)}}, Total {{character.fatigue.aerobicTotal(timer.time)}}
    </div>
    <div>
        Mental Penalty {{character.fatigue.penalty('mental',timer.time)}}, Halflife {{character.fatigue.muscleHalflife(timer.time,'mental')}}
    </div>
    <div *ngFor="let muscle of character.creatureType.limbList">
        {{muscle|titlecase}} Penalty {{character.fatigue.penalty(muscle,timer.time)}}, Halflife {{character.fatigue.muscleHalflife(timer.time,muscle)}}
    </div>
</div>