<div [class.over-budget]="specialties.character.isOverBudget"></div>
<div class="specialties container">
    <h4>Specialties</h4>
    <input type="checkbox" class="display unknown-specialties" /><label>Show Unknown Specialties</label><br/>
    <input type="checkbox" class="display by-category" checked/><label>Group By Category</label>
    <div *ngIf="true" class="specialties display-group alphabetical">
        <div *ngFor="let specialty of specialties.getSpecialtiesList()" class="field specialty one-digit"
        [class.unknown]="specialties.getSpecialtyRank(specialty)==0">
            <input type="number" step="1" min="{{MINIMUM_VALUE}}" max="{{MAXIMUM_VALUE}}"
            [value]="specialties.getSpecialtyRank(specialty)"
            (input)="setSpecialtyRank(specialty,$event.target.value)" />
            <label>{{getDisplayName(specialty) | titlecase}}</label>
        </div>
    </div>
    <div *ngIf="true" class="specialties display-group by-category">
        <div *ngFor="let category of specialties.getCategoriesList()" class="specialty container"
        [class.unknown]="specialties.isUnknownCategory(category)">
            <div class="specialty-category-label">{{category | titlecase}}</div>
            <div *ngFor="let specialty of specialties.getSpecialtiesByCategory(category)" class="field specialty one-digit"
            [class.unknown]="specialties.getSpecialtyRank(specialty)==0">
                <input type="number" step="1" min="{{MINIMUM_VALUE}}" max="{{MAXIMUM_VALUE}}"
                [value]="specialties.getSpecialtyRank(specialty)"
                (input)="setSpecialtyRank(specialty,$event.target.value)" />
                <label>{{getDisplayName(specialty) | titlecase}}{{getMultiCategoryFlag(specialty)}}</label>
            </div>
        </div>
    </div>
</div>
