label {
    width: 85px;
}

.skill .field,
.skill-button {
    position: relative;
    display: inline-flex;
}

.documentation.mouseover {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    font-size: smaller;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -15px;
    right: 102%;
    white-space: normal;
    width: 205px;
}

.skill-button .documentation.mouseover {
    right: 125%;
    width: 140 px;
}

.skill .field:hover .documentation.mouseover,
.skill-button:hover .documentation.mouseover {
    visibility: visible;
}

.documentation.mouseover .name,
.documentation.mouseover .base {
    display: block;
}

.skills.container .skill {
    display: flex;
    align-items: center;
}