.description label {
    display: block;
}

.description textarea {
    width: -webkit-fill-available;
    resize: vertical;
}

input[type=checkbox].display.descriptions~.descriptions.container {
    display: none;
}

input[type=checkbox].display.descriptions:checked~.descriptions.container,
input[type=checkbox].hide.blank-descriptions~.descriptions.container .description {
    display: block;
}

input[type=checkbox].display.portrait:checked~.portrait-frame {
    display: inline-block;
}

label {
    margin-right: 5px;
}

.about.container .descriptions.container {
    height: auto;
}

.portrait-frame {
    border: 1px solid black;
    display: none;
}

input[type=checkbox].display.portrait:not(:checked)~.sub-slider {
    display: none;
}

.sub-slider {
    display: block;
    margin-left: 20px;
}

.field.three-digit label {
    width: 80px;
}

.field .name-value {
    width: 112px;
}

.field.mouseover {
    position: relative;
}

.documentation.mouseover {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    font-size: smaller;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
    white-space: normal;
    width: 140px;
}

.field.mouseover:hover .documentation.mouseover {
    visibility: visible;
}