.description label {
    display: block;
}

.descriptions input[type=checkbox].display~.description {
    display: none;
}

.descriptions input[type=checkbox].display:checked~.description {
    display: block;
}