<div [class.over-budget]="aspects.character.isOverBudget"></div>
<div class="aspects container">
    <h4>Aspects</h4>
    <div *ngFor="let aspect of aspects.aspectsList" class="field aspect three-digit">
      <label>{{aspect|titlecase}}</label>
      <input type="number" step="0.1" min="{{MINIMUM_VALUE}}" max="{{MAXIMUM_VALUE}}"
        [class.out-of-range]="inputsOutOfRange[aspect]"
        [value]="aspects.getAspectRank(aspect)"
        (input)="setAspectRank(aspect,$event.target.value)" />
        <div class="probability_description">({{aspects.getAspectProbabilityDescription(aspect)}})</div>
      <button [class]="aspect" (click)="makeAspectTest(aspect)"></button>
    </div>
</div>