<div [class.over-budget]="aspects.character.isOverBudget"></div>
<div class="aspects container">
    <h4>Aspects</h4>
    <div *ngFor="let aspect of aspects.aspectsList" class="field mouseover aspect three-digit">
      <div class="documentation mouseover">
        <div class="aspect_description">{{aspects.getAspectDescription(aspect)}}</div>
        <div class="probability_description">{{aspects.getAspectProbabilityDescription(aspect)}}</div>
      </div>
      <label>{{aspect|titlecase}}</label>
      <input type="number" step="0.1" min="{{MINIMUM_VALUE}}" max="{{MAXIMUM_VALUE}}" class="edit-mode"
        [class.out-of-range]="inputsOutOfRange[aspect]"
        [value]="aspects.getAspectRank(aspect)"
        (input)="setAspectRank(aspect,$event.target.value)" />
      <div class="edit-mode aspect_modifier">{{getModifierString(aspect)}}</div>
      <div class="aspect permanent boxed-value three-digit">{{aspects.Permanent(aspect).toFixed(1)}}</div>
      <button [class]="aspect" (click)="makeAspectTest(aspect)" class="play-mode"></button>
    </div>
    <div class="axis-container">
      <div *ngFor="let axis of aspects.axisList" class="axis">
        <label class="end first name">{{axis[0]|titlecase}}</label>
        <label class="end first value">{{displayValue(aspects.Current(now,axis[0]))}}</label>
        <label class="end second value">{{displayValue(aspects.Current(now,axis[1]))}}</label>
        <label class="end second name">{{axis[1]|titlecase}}</label>
      </div>
    </div>
    Physical Action Duration: {{physicalActionDuration}}<br/>
    Mental Action Duration: {{mentalActionDuration}}<br/>
    Physical Reaction Time: {{physicalReactionTimeRange}}<br/>
    Mental Reaction Time: {{mentalReactionTimeRange}}<br/>
    Surprise Multiplier: {{surpriseMultiplier}}<br/>  
</div>