p {
  font-family: Lato;
}

.logPane {
  position: fixed;
  width: 25%;
  height: 100%;
  border-right: 1px solid black;
}

.mainPane {
  margin-left: 30%;
  width: 65%;
  height: 100%;

  > .menu {
    clear: both;
    width: 100%;
  
    .mode {
      height: 26px;
  
      a {
        border-color: forestgreen;
      }
  
      a.selected {
        background-color: greenyellow;
      }
    }
    
    .character {
      height: 26px;
  
      a {
        border-color: rebeccapurple;
      }
  
      a.selected {
        background-color: rebeccapurple;
        color: white;
      }
    }
  
    a {
      display: block;
      float: left;
      padding: 3px;
      border: 1px solid;
      font-weight: bold;
    }
  }
}