.sheet-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.sheet-container > * {
    flex-grow: 1;
}

.container {
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
    height: calc(100% - 20px);
}

.over-budget+.container {
    border-color: red;
}

h4 {
    margin-top: 3px;
    margin-bottom: 6px;
    font-size: large;
}

.one-digit input {
    width: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

.two-digit input {
    width: 32px;
    margin-left: 5px;
    margin-right: 5px;
}

.three-digit input {
    width: 45px;
    margin-left: 5px;
    margin-right: 5px;
}

.six-digit input {
    width: 64px;
}

input.out-of-range {
    background-color: red;
}
  
.field {
    display: flex;
    margin-top: 2px;
    margin-bottom: 3px;
    align-items: center;
}

.probability_description {
    display: inline-block;
    width: 80px;
    text-align: center;
}

button {
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3px;
}

button.brawn {
    background-image: url("../../assets/img/brawn.png");
}

button.toughness {
    background-image: url("../../assets/img/toughness.png");
}

button.agility {
    background-image: url("../../assets/img/agility.png");
}

button.reflex {
    background-image: url("../../assets/img/reflex.png");
}

button.impression {
    background-image: url("../../assets/img/impression.png");
}

button.serenity {
    background-image: url("../../assets/img/serenity.png");
}

button.cleverness {
    background-image: url("../../assets/img/cleverness.png");
}

button.awareness {
    background-image: url("../../assets/img/awareness.png");
}