<input type="checkbox" class="edit-mode-controller" />Edit Mode
<div (change)="save()" class="sheet-container">
    <app-about [about]="character.about" [brawn]="character.aspects.getAspectRank('brawn')"></app-about>
    <app-aspects [aspects]="character.aspects"></app-aspects>
    <app-skills [skills]="character.skills"></app-skills>
    <app-specialties [specialties]="character.specialties"></app-specialties>
    <app-traits [traits]="character.traits"></app-traits>
    <app-spells [spells]="character.spells"></app-spells>
    <app-equipment [equipment]="character.equipment"></app-equipment>
</div>