<div class="logContainer">
    <div class="timer" [class.past]="timer.time<campaign.now" [class.present]="timer.time==campaign.now" [class.future]="timer.time>campaign.now">
        <input [value]="timer.time" (input)="setTime($event.target.value)" type="number" />
        <a (click)="play()">{{ speed==10 ? '>>' : '>' }}</a>
        <a (click)="toNow()" class="tonow">To Now</a>
    </div>
    <div class="logScrollable">
        <div *ngFor="let action of history">
            <actionwrap [action]="action"></actionwrap>
        </div>
        <div class="now"><a *appTimeButton="campaign.now">Start</a> .....NOW.....</div>
        <div *ngFor="let action of queue">
            <actionwrap [action]="action"></actionwrap>
        </div>
    </div>
</div>