<div class="logContainer">
    <div class="timer" [class.past]="data.time<campaign.now" [class.present]="data.time==campaign.now" [class.future]="data.time>campaign.now">
        <input [value]="data.time" (input)="setTime($event.target.value)" type="number" />
        <a (click)="play()">{{ speed==10 ? '>>' : '>' }}</a>
        <a (click)="toNow()" class="tonow">To Now</a>
        <a (click)="console(data)">Q</a>
    </div>
    <div class="logScrollable">
        <div *ngFor="let item of data.log">
            <a (click)="console(item)">(_)</a>
            <div *ngIf="item.roll; then rollBlock else actionStub"></div>
            <ng-template #rollBlock>
                <div *ngIf="item.roll.dice && item.roll.dice.length; then rollHistory else rollFuture"></div>
                <ng-template #rollHistory>
                    {{item.action.character.about.name}} rolled {{item.roll.modifier.skill ? item.roll.modifier.skill : "Pure"}} {{item.roll.modifier.aspect}}
                    <a *appTimeButton="item.roll.time">at {{item.roll.time}}</a>
                    {{item.roll.testDescription}}
                    Result Number and expandable
                    {{item.roll.resultDescription}}
                </ng-template>
                <ng-template #rollFuture>
                    <a (click)="editAction(item.action)">
                        {{item.action.character.about.name}} rolls {{item.roll.modifier.skill ? item.roll.modifier.skill : "Pure"}} {{item.roll.modifier.aspect}}
                        <a *appTimeButton="item.roll.time">at {{item.roll.time}}</a>
                        {{item.roll.testDescription}}
                    </a>
                    <ng-container *ngIf="item.roll.time==data.nextRoll"><button (click)="rollNow(item.action,item.roll)">Roll Now</button></ng-container>
                </ng-template>
            </ng-template>
            <ng-template #actionStub>
                <a *ngIf="item.action.data.type=='generic'" (click)="editAction(item.action)">{{item.action.character.about.name}} acts</a>
                <div *ngIf="item.action.data.type=='move'">{{item.action.character.about.name}} moves</div>
            </ng-template>
        </div>
    </div>
</div>