.execute {
    border: 1px solid black;
}

.timer.past {
    background-color: rgb(125,255,255);
    input {
        background-color: rgb(125,255,255);
    }
}

.timer.present {
    background-color: rgb(125,255,125);
    input {
        background-color: rgb(125,255,125);
    }
}

.timer.future {
    background-color: rgb(255,255,125);
    input {
        background-color: rgb(255,255,125);
    }
}

.timer a {
    margin-left: 10px;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid navy;
}

a.past { background-color: rgb(125,255,255); }
a.present { background-color: rgb(125,255,125); }
a.future { background-color: rgb(255,255,125); }